@import url('https://fonts.googleapis.com/css?family=Exo:400,700');




*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.label {
    background: #dc3545;
    font-family: serif;
    font-weight:bold;
    font-size:16px;
    width: 50px;}

.ambot {
    background: #000;
    font-family: serif;
    font-weight:bold;
    font-size:16px;
    width: 100%;}


.btn{
    background: #dc3545;
  border: 1px solid #ffffff;
  border-radius:5px;
  color: #fff;
  font-weight: bold;
  font-family: "serif";
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 2px;
  cursor: pointer;
  width: 95%;
  height: 35px;}

.btn:hover{
  box-shadow: 0 0 15px #77f7f7;
  background: #bd2130;
  color: #ffffff;}

.btn1{
    background: #343a40; 
  border: 1px solid #ffffff;
  border-radius:5px;
  color: #fff;
  font-weight: bold;
  font-family: "serif";
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 95%;
  height: 35px;}

.btn1:hover{
  box-shadow: 0 0 15px #77f7f7;
  background: #212529;
  color: #ffffff;}

.btn2{
    background: #dc3545; 
  border: 1px solid #ffffff;
  border-radius:15px;
  color: #fff;
  font-weight: bold;
  font-family: "serif";
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 49%;
  height: 35px;}

.btn2:hover{
  box-shadow: 0 0 15px #77f7f7;
  background: #bd2130;
  color: #ffffff;}

  .btn3{
    background: #17a2b8; 
  border: 1px solid #ffffff;
  border-radius:5px;
  color: #fff;
  font-weight: bold;
  font-family: "serif";
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 95%;
  height: 35px;}

.btn3:hover{
  box-shadow: 0 0 15px #77f7f7;
  background: darkcyan;
  color: #ffffff;}


.title{
    color: #fff;
    text-align: center;
}

.current{
    display: grid;
    place-items: center;
    position: relative;
    transition: 0.4s;
}



.prettyline
         {
         height:5px;
         border-top:0;
         background:#c4e17f;
         border-radius:5px;
         background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
         }

#grad1
         {
         height:5px;
         border-top:0;
         margin-top: 3px;
         background:#c4e17f;
         border-radius:5px;
         background-color: red; /* For browsers that do not support gradients */
  background-image: radial-gradient(red 5%, yellow 15%, green 60%);
         }

.awesome {
  text-align: center;
  text-shadow: 0 0 6px #000000;
  -webkit-text-stroke: 0.5px white;
  animation: colorchange 20s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: blue;
  }
  
  20% {
    color: darkcyan;
  }
  40% {
    color: red;
  }
  
  60% {
    color: darkmagenta;
  }
  80% {
    color: black;
  }
  
  100% {
    color: darkorange;
  }
}


.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

